# Project place file
/Obverse.rbxlx

# Rojo files
.gitattributes
aftman.toml

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Local files
.history
.vscode
concepts
assets
docs

# SocialChat-Developer Assets
src/SocialChatv2/Extensions/AutoInstall.lua
src/SocialChatv2/Extensions/Client/Emojipedia