/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 10rem;
  text-align: center;
  position: relative;
  overflow: hidden;

  /* filter: brightness(40%); */
  color: white;

  background-color: #3372b1;
  background-size: cover;
  /* background-position: 90%;
  background-image: url('../img/SOCIALCHAT_GIF_BRANDING.gif'); */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
};